.category {
    &_hero {
        position: relative;

        img {
            height: 200px;
            object-fit: cover;
            display: block;
        }

        h1 {
            position: absolute;
            top: 21%;
            left: 15%;
            right: 15%;
            width: 72%;
            font-size: $size-h1;
            margin-block-start: 0;
            margin-block-end: 0;
            color: $color-primary;
        }
    }

    &_product-list {
        width: 72%;
        margin: 4.2rem auto 6rem;
        padding-inline-start: 0rem;

        li {
            margin-bottom: 2.5rem;

            img {
                height: 310px;
                display: block;
            }

            h3 {
                font-family: $text-secondary;
                color: $color-primary;
                margin-top: 10px;
                margin-bottom: 5px;
            }

            .price {
                font-weight: 400;
                font-size: 1.4rem;
                margin-block-start: 0rem;
                margin-block-end: 0rem;
            }
        }
    }
}

@include media-md {
    .category {
        &_hero h1 {
        top: 35%;
        left: 21%;
        right: 21%;
        width: 57%;
        text-align: center;
      }
    
      &_product-list {
        width: 78%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: 48%;
          }
      }
    }
}

@include media-lg {
    .category {
        &_hero h1 {
            top: 35%;
            left: 31%;
            right: 31%;
            width: 37.5%;
            font-size: 6rem;
      }
    
        &_product-list {
            width: 81%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

        li {
            width: 28%;
          }
      }
    }
}