.error {
    width: 72%;
    margin: 9.3rem auto;

    h1 {
        font-size: 3.2rem;
        line-height: 4rem;
        font-weight: 700;
        text-align: center;
        font-family: $text-secondary;
        color: $color-secondary;
    }
}

@include media-md {
    .error {
        width: 63%;
        margin: 12.5rem auto;
    }
}

@include media-lg {
    .error {
        width: 82%;
        margin: 21.5rem auto;
      
        h1 {
            font-size: 4.7rem;
            line-height: 4rem;
      }
    }

}