.footer {
    background-color: $color-primary;
    color: #ffffff;

    &_links {
        padding: 4rem 5.3rem 8rem;

        a {
            color: #ffffff;
        }

        ul {
            padding-inline-start: 0;
        }

        &_help {
            margin-top: 3rem;

            .link-style {
                margin: 0px;
            }
        }
    }
}

@include media-md {
    .footer {
        .footer-logo img {
                padding: 4.8rem 24.2rem;
            }
        
        &-links {
            padding: 4.1rem 10.6rem 14.9rem;
            display: flex;
            justify-content: space-between;
        }
    } 
}

@include media-lg {
    .footer {
        .footer-logo img {
            box-sizing: border-box;
            width: 100%;
            padding: 7.4rem 38.5rem;
        }
        
        &_links {
            padding: 9.8rem 14.8rem 22rem;
        }
        
        h3 {
            size: 3.2rem;
            line-height: 3rem;
        }
        
        a, p {
            size: 2rem;
            line-height: 3rem;
        }
    }
}