.footer {
    background-color: $color-primary;
    color: #ffffff;

    a.footer-logo {
        box-sizing: border-box;
        background-color: $color-bg;
        padding: 4rem 11.75rem;
        display: inline-block;
        
      }

    &_links {
        padding: 4rem 5.3rem 8rem;

        a {
            color: #ffffff;
        }

        ul {
            padding-inline-start: 0;
            margin-top: 3rem;
        }

        &_help {
            margin-top: 3rem;

            .link-style {
                margin: 0px;
            }

        }
    }
}

@include media-md {

    .footer {
        
        &_links {
            padding: 4.1rem 10.6rem 14.9rem;
            display: flex;

            justify-content: space-between;

            &_help {
                margin-top: 0;
            }
        }
    } 
    
}

@include media-lg {
.footer {
        a.footer-logo {
            padding: 7.4rem 38.5rem;
        }
        
        &_links {
            padding: 9.8rem 14.8rem 22rem;

            h3 {
                size: 3.2rem;
                line-height: 3rem;
            }
            
            a, p {
                size: 2rem;
                line-height: 3rem;
            }
        }
        
    }
}