.nav {
    background: $color-bg;

    img {
        width: 72%;
        padding: 3rem 5rem 2rem;
        display: block;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0rem 5rem 3.5rem;
    }

    li {
        width: 46%;
        text-align: center;
        color: $color-body;
    }
}

@include media-md {
    .nav {
        img {
            width: 53%;
            padding: 3rem 17.2rem 2.5rem;
        }

        ul {
            padding: 0rem 10.3rem 3.5rem;
        }
    }
}

@include media-lg {
    .nav {
        img {
            width: 51%;
            padding: 3rem 29rem 2.5rem;
        }

        ul {
            padding: 0rem 16.6rem 3.5rem;
        }

        a {
            font-size: 2rem;
        }
    }
}