.product-page {
    width: 72%;
    margin: 4rem auto 6rem;

    .h2 {
        font-family: $text-secondary;
        color: $color-primary;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    &_details {
        img {
            height: 310px;
            margin: 1.5rem auto;
            display: block;
        }
    }

    &_price {
            font-size: 2rem;
            line-height: 4rem;
            font-weight: 700;
        }

        &_color {
            margin-bottom: 5rem;
            color: $color-hyperlink;
        }


 }

 @include media-md {
    .product-page {
        width: 78%;
        margin: 8.8rem auto;

        h2 {
            font-size: 4.7rem;
            line-height: 5rem;
        }

        &_details {
            display: flex;
            justify-content: space-between;
            margin-top: 3.2rem;

            img {
                width: 48%;
                margin: 0rem;  
            }

            &_text {
                width: 44%;
            }
        }
    }
}

@include media-lg {
    .product-page {
        width: 80%;
        margin: 8rem auto 12rem;

        h2 {
            font-size: 6rem;
            line-height: 8rem;
        }

        &_details {
            margin-top: 2.1rem;

            img {
                width: 49%;
                height: 577px;
            }
            
            &_price {
                font-size: 3.2rem;
                line-height: 4rem;
                margin-bottom: 3.5rem;
            }
    
            &_color {
                color: var(--color-hyperlink);
                margin-top: 3.5rem;
                margin-bottom: 11.5rem; 
                width: 45%;
            }

        }
    }
}
