@import 'category';
@import 'error';
@import 'footer';
@import 'nav';
@import 'product';
@import 'home';
@import 'color', 'typography';



body {
  width: 360px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
