@import 'config';
@import 'color', 'typography';
@import 'footer', 'nav';
@import 'category';
@import 'error';
@import 'product';
@import 'home';

.btn.secondary {
  background-color: $color-secondary;
  color: #ffffff;
  width: 46%;
  margin: 0 6.8rem;
}
