/* Center body and fix to minimum width */
body {
  width: 360px;
  margin: 0 auto;
}

/* Other mobile (default) styles go here */
.error-page {
  width: 72%;
  margin: 9.3rem auto;
}
.error-page h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 700;
  text-align: center;
  font-family: var(--text-secondary);
  color: var(--color-secondary);
}
@media screen and (min-width: 744px) {
  /* Scale body to new minimum width */
  body {
    width: 744px;
  }
  /* Other portrait tablet styles */
  .error-page {
    width: 63%;
    margin: 12.5rem auto;
  }
}

@media screen and (min-width: 1200px) {
  /* Scale body to new minimum width */
  body {
    width: 1200px;
  }
  /* Other desktop styles */
  .error-page {
    width: 82%;
    margin: 21.5rem auto;
  }

  .error-page h1 {
    font-size: 4.7rem;
    line-height: 4rem;
  }
}
