/* Center body and fix to minimum width */
body {
  width: 360px;
  margin: 0 auto;
}

/* Other mobile (default) styles go here */
.product-page {
  width: 72%;
  margin: 4rem auto 6rem;
}

.product-page h2 {
  font-family: var(--text-secondary);
  color: var(--color-primary);
  font-size: 2.5rem;
  line-height: 3rem;
}

.product-page_details img {
  height: 310px;
  margin: 1.5rem 0rem;
}

.product-price {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 700;
}

ul.product-info {
  list-style: disc;
  padding-inline-start: 2rem;
}

.product-color {
  color: var(--color-hyperlink);
  margin-bottom: 5rem;
}

a.btn.secondary {
  background-color: var(--color-secondary);
  color: #ffffff;
  width: 46%;
  margin: 0 6.8rem;
}

@media screen and (min-width: 744px) {
  /* Scale body to new minimum width */
  body {
    width: 744px;
  }
  /* Other portrait tablet styles */
  .product-page {
    width: 78%;
    margin: 8.8rem auto;
  }

  .product-page h2 {
    font-size: 4.7rem;
    line-height: 5rem;
  }

  .product-page_details {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
  }

  .product-page_details img {
    width: 48%;
    margin: 0rem;
  }

  .product-page_details__text {
    width: 44%;
  }

  a.btn.secondary {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* Scale body to new minimum width */
  body {
    width: 1200px;
  }
  /* Other desktop styles */
  .product-page {
    width: 80%;
    margin: 8rem auto 12rem;
  }

  .product-page h2 {
    font-size: 6rem;
    line-height: 8rem;
  }

  .product-page_details {
    margin-top: 2.1rem;
  }

  .product-page_details img {
    width: 49%;
    height: 577px;
  }

  .product-page_details__text {
    width: 45%;
  }

  .product-price {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 3.5rem;
  }

  .product-color {
    color: var(--color-hyperlink);
    margin-top: 3.5rem;
    margin-bottom: 11.5rem;
  }
}
