/* Center body and fix to minimum width */
body {
  width: 360px;
  margin: 0 auto;
}

/* Images will always scale to be no wider than their container */
img {
  max-width: 100%;
}

/* Other mobile (default) styles go here */

nav {
  background: var(--color-bg);
}

nav img {
  width: 72%;
  padding: 3rem 5rem 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 72%;
  padding: 0rem 5rem 3.5rem;
}

nav li {
  width: 46%;
  text-align: center;
  color: var(--color-body);
}

@media screen and (min-width: 744px) {
  /* Scale body to new minimum width */

  nav img {
    width: 53%;
    padding: 3rem 17.2rem 2.5rem;
  }

  nav ul {
    padding: 0rem 10.3rem 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  /* Scale body to new minimum width */
  nav img {
    width: 51%;
    padding: 3rem 29rem 2.5rem;
  }

  nav ul {
    padding: 0rem 16.6rem 3.5rem;
  }

  nav a {
    font-size: 2rem;
  }
}
